##################################################
##              Input Shaping
##################################################
[input_shaper]
shaper_freq_x: 98.8
shaper_freq_y: 81.4
shaper_type: mzv

#####################################################################
##                  Bed Mesh Calibration
#####################################################################
[bed_mesh]
speed: 500                       # Calibration speed
horizontal_move_z: 10            # Z-axis movement speed
mesh_min: 45,25                  # Minimum calibration point coordinates x, y
mesh_max: 255,290                # Maximum calibration point coordinates x, y
probe_count: 10,10               # Number of sampling points (7X7 is 49 points)
mesh_pps: 2,2                    # Additional sampling points
algorithm: bicubic               # Algorithm model
bicubic_tension: 0.2             # Algorithm interpolation, no movement

####################################################################################
##                                    Homing Override
####################################################################################
[homing_override]
axes: z                    # Override homing for the Z axis only
set_position_z: 0           # Set the Z position to 0 after homing
gcode:
    G90                     # Set to absolute positioning mode
    G0 Z10 F1200            # Move Z axis to 10mm above the bed at 1200 mm/min
    G28 Y                   # Home Y axis
    G28 X                   # Home X axis
    G1 X175 Y175 F7200      # Move to a specific coordinate (125, 125) at 7200 mm/min
    G28 Z                   # Home Z axis again

####################################################################################
##                                    Z Tilt Adjustment
####################################################################################
[z_tilt]
##  Use Z_TILT_ADJUST to level the bed.
##  z_positions: Location of toolhead

z_positions:
   -50, 18
   175, 398
   400, 18
points:
   50, 50
   175, 300
   300, 50

speed: 600                 # Speed of Z tilt adjustment
horizontal_move_z: 2       # Z axis move speed for adjustments
retries: 10                # Number of retries for adjustment points
retry_tolerance: 0.0075    # Retry tolerance for adjustment accuracy

####################################################################################
####################################################################################
[gcode_macro Z_TILT_ADJUST]     # IDM/Cartographer optimized 3Z leveling macro
rename_existing: _Z_TILT_ADJUST
gcode:
    SAVE_GCODE_STATE NAME=STATE_Z_TILT         # Save current state for Z tilt adjustment
    BED_MESH_CLEAR                             # Clear bed mesh
    {% if not printer.z_tilt.applied %}
      _Z_TILT_ADJUST horizontal_move_z=10 retry_tolerance=1   # Adjust Z tilt with higher tolerance initially
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=2          # Fine-tune Z tilt adjustment
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT       # Restore saved state after adjustment

[gcode_macro PROBE_CALIBRATE]
gcode:
    CARTOGRAPHER_CALIBRATE

####################################################################################
##                               Probe Calibration Macro
####################################################################################
[gcode_macro HOME_AND_PROBE_CALIBRATE]
# Defines a G-code macro for probe calibration
gcode:
    G28                          # Home all axes
    G0 X150 Y150 Z1 F3600        # Fast move to X150 Y150 Z1 at 3600 mm/min
    PROBE_CALIBRATE              # Start probe calibration

####################################################################################
##                               Bed Leveling and Height Calibration Macro
####################################################################################
[gcode_macro G32]
# Defines a G-code macro for bed leveling and height calibration
gcode:
    BED_MESH_CLEAR               # Clear bed mesh
    G28                          # Home all axes
    Z_TILT_ADJUST                # Perform gantry leveling
    G28                          # Home all axes
    G0 X175 Y175 Z30 F3600       # Fast move to X150 Y150 Z30 at 3600 mm/min
