[include fluidd.cfg]                  # Include configuration from mainsail.cfg file
[include monitoring/*]  
[include physical_printer/*]  

[scanner]
canbus_uuid: a5a5577d8a61            
#adjust to suit your scanner 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#adjust for your offset
y_offset: 21.1                         
#adjust for your offset
calibration_method: touch 
sensor: cartographer
sensor_alt: carto
#alternate name to call commands. CARTO_TOUCH etc
#scanner_touch_z_offset: 0.05        
#this is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset


[include plugins/*]  
[include calibration/*]
[include macros/*]

[virtual_sdcard]
path: /home/marc/printer_data/gcodes    # Path to the virtual SD card directory
on_error_gcode: CANCEL_PRINT            # G-code to execute on error (defined in CANCEL_PRINT macro)

[gcode_arcs]
resolution: 0.1                         # Arc interpolation resolution, handles G2/G3 commands

[exclude_object]                        # Exclude object for cancellation

[force_move]
enable_force_move: true                 # Enable force move feature

#####################################################################
##	                 EBB SB2209(RP2040) Config
#####################################################################
[mcu EBBCan]
canbus_uuid: 39ee83e6fda3              # Unique identifier for the CAN bus interface
# Acceleration sensor on cartographer sensor is recommended, 
# so the configuration of EBB is commented
#[adxl345]
#cs_pin: EBBCan:gpio1                   # Chip select pin
#spi_software_sclk_pin: EBBCan:gpio2    # SPI clock pin
#spi_software_mosi_pin: EBBCan:gpio0    # SPI master out slave in pin
#spi_software_miso_pin: EBBCan:gpio3    # SPI master in slave out pin
#axes_map: z,-y,x                       # Axis mapping settings
##SHAPER_CALIBRATE

#[resonance_tester]                     # Resonance tester configuration
#probe_points: 175, 175, 20             # Probe point positions
#accel_chip: adxl345                    # Acceleration chip used

#####################################################################
##	                 Manta M8P v2 Config
#####################################################################
[mcu]                                   # Main MCU configuration
canbus_uuid: 41a395724add               # CAN bus UUID
canbus_interface: can0                  # CAN bus interface

#####################################################################
##                     Model and Acceleration
#####################################################################
[printer]                             # Printer configuration
kinematics: corexy                    # Printer type: corexy
max_velocity: 600                    # Maximum velocity (max 300)
max_accel: 15000                       # Maximum acceleration (max 4000)
max_z_velocity: 25                    # Maximum Z-axis velocity
max_z_accel: 100                      # Maximum Z-axis acceleration
minimum_cruise_ratio: 0.5             # Default 0.5
square_corner_velocity: 10            # Square corner velocity


#[include lights/*]  

[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner model default]
#*# model_coef = 1.4943020551103552,
#*# 	1.921074611260538,
#*# 	0.7509434968388932,
#*# 	0.3472203833565106,
#*# 	0.25690629360363965,
#*# 	0.18179707265411882,
#*# 	-0.05404444360672071,
#*# 	-0.0594171386204469,
#*# 	0.10401274404805318,
#*# 	0.06351373169337263
#*# model_domain = 3.2662699255839117e-07,3.334418031176494e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 41.106604
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 1500
#*# scanner_touch_z_offset = 0.075
#*#
#*# [heater_bed]
#*# pid_kp = 61.348
#*# pid_ki = 2.337
#*# pid_kd = 402.598
#*#
#*# [extruder]
#*# pid_kp = 26.000
#*# pid_ki = 2.194
#*# pid_kd = 77.023
